#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}
#graphInfo {
  min-width: 300px;
  flex: 2;
  border: 1px solid black;
}
#graph {
  flex: 5;
}
#sectorInfo {
  position: fixed;
  background-color: white;
  border: 1px solid black;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
