#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
}
#graphInfo {
  min-width: 300px;
  flex: 2;
  border: 1px solid black;
}
#graph {
  flex: 5;
}
#sectorInfo {
  position: fixed;
  background-color: white;
  border: 1px solid black;
}
#childList {
  list-style-type: none;
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  z-index: 10;
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}
.close-button {
  aspect-ratio: 1/1;
  width: 10%;
  height: auto;
  padding: 1px;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul {
  margin: 10px;
}

